p {
  font-size: 2vh;
}

.App {
  text-align: center;
  background-color: #CED3E2;
  min-width: 70vw;
  min-height: 50vh;
  overflow: hidden;
}

.link {
  text-decoration: none;
  font-size: medium;
  color: rgb(128, 128, 128);
  
}

.link:hover {
  text-decoration: none;
  font-size: medium;
  color: black;

}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
  background-color: #e3f2fd;
  padding: 2px 1em 0 1em;
  list-style-type: none;
}

#nav-bar-left {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  height: 5vh;
  align-items: center;
  list-style-type: none;
}

#mainFrameLayout {
  display: grid;
  grid-template-columns: 25vw 60vw;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 3em;
  margin: 0 1em 0 1em;
}

#upload-module-layout {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5% 5%;
  background-color: white;
  width: 25vw;
  height: 43vh;
  padding: 0 1em 0.5em 1em;
  overflow: auto;
}

#upload-input-file {
  display: flex;
  flex-direction: row;
}

#form-file-upload {
  height: 30vh;
  width: 23vw;
  max-width: 50%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  font-size: 2vh;
  margin-bottom: 5px;
  height: 23vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-click-text {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 2vh;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-click-text:hover {
  text-decoration-line: underline;
}

.upload-button {
  margin: 1vh 0.2vw;
  width: 5vw;
  height: 4vh;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  font-size: 1.4vh;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.upload-button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.title {
  font-size: 2.5vh;
  text-align: left;
}

#upload-module-input-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  justify-content: left;
}

.upload-module-input-dropdown {
  width: 11vw;
  font-size: 0.7vw;
}

.upload-module-ddb-dropdown {
  margin: 10vh 0 2vh 0;
  width: 100%;
  font-size: 0.9vw;
}


#uploadModuleFileName {
  max-width: 11vw;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -2vh;
  font-size: 0.7vw;
  font-weight: bold;
}

#upload-module-select-layout {
  display: flex;
  flex-direction: column;
  justify-items: left;
  padding-right: 1vw;
}

#simulation-module-layout {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 2% 2%;
  background-color: white;
  width: 66vw;
  height: 57vh;
  padding: 0 1em 1em 1em;
  overflow: auto;
}

#new-ops-module-layout {
  display: flex;
  flex-direction: column;
  border-radius: 5% 5% 0 0;
  background-color: white;
  width: 25vw;
  height: 50.5vh;
  padding: 0 1em 1em 1em;
}

#scenario-module-layout {
  display: flex;
  flex-direction: column;
  border-radius: 5% 5% 0 0;
  background-color: white;
  width: 25vw;
  height: 54vh;
  padding: 0 1em 1em 1em;
}

.scenario-slider {
  width: 23vw;
  height: 2vh;
  margin: -1vh auto;
}

#simulation-slider {
  width: 40vw;
  height: 2vh;
}

.customSlider-track {
  top: 8px;
  height: 4px;
  background: #ddd;
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: rgb(104, 117, 217);
}

.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: rgb(104, 117, 217);
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px rgb(104, 117, 217, 0.2);
}

.customSlider-mark {
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 8px;
  background-color: #aaaaaa;
}

#simulation-bar-chart {
  display: flex;
  height: 39vh;
}

#simulation-bar-chart-left {
  width: 42vw;
  height: 39vh;
}

#simulation-bar-chart-right {
  width: 24vw;
  height: 39vh;
}

#simulation-title {
  display: flex;
  flex-direction: row;
  gap: 30%;
}

.button {
  margin: 30px;
  height: 3vh;
  width: 7vw;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 2vmin;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

#first-column-mainframe {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#scoreboard-layout {
  display: flex;
  flex-direction: column;
  border-radius: 2% 2% 0 0;
  background-color: white;
  width: 66vw;
  height: 36vh;
  padding: 0 1em 1em 1em;
}

#second-column-mainframe {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#scoreboard-graph {
  height: 28vh;
}

#simulation-buttons-layout {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  justify-content: space-between;
  margin-bottom: 1.5vh;
}

#scenario-slider-name {
  text-align: left;
}

#upload-module-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#upload-module-template-link {
  text-decoration-line: none;
  color: #0000EE;
  font-size: 2vh;
  height: 2vh;
  
}

#home-link {
  color: #121212;
}

#faq-page-layout {
  margin: 1em;
}

#authentication-text {
  text-align: center;
  margin-top: 3em;
}

.upload-to-cloud {
  font-size: 0.6vw;
}

#remind-signin-text {
  font-size: 0.7vw;
  margin-bottom: -0.3vh;
}

#scenario-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5vh 0.5vw;
  gap: 1vw;
}

.scenario-slider-value {
  margin-bottom: -1vh;
}

#upload-file-name-layout {
  text-align: left;
}
