.App {
  text-align: center;
  background-color: #CED3E2;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.link {
  text-decoration: none;
  font-size: medium;
  color: rgb(128, 128, 128);
  
}

.link:hover {
  text-decoration: none;
  font-size: medium;
  color: black;

}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 5vw;
  height: 5vh;
  align-items: center;
  background-color: #e3f2fd;
  padding: 2px 1em 0 1em;
  list-style-type: none;
}

#mainFrameLayout {
  display: grid;
  grid-template-columns: 25vw 60vw;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 3em;
  margin: 0 1em 0 1em;
}

#upload-module-layout {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5% 5%;
  background-color: white;
  width: 25vw;
  height: 41vh;
  padding: 0 1em 1em 1em;
}

#upload-input-file {
  display: flex;
  flex-direction: row;
}

#form-file-upload {
  height: 16rem;
  width: 28rem;
  max-width: 50%;
  height: 28vh;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  margin-bottom: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.title {
  text-align: left;
}

#upload-module-input-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#uploadModuleFileName {
  max-width: 200px;
  text-align: left;
  overflow: hidden;
  margin-top: 0;
}

#upload-module-select-layout {
  display: flex;
  flex-direction: column;
  justify-items: left;
  padding-right: 10px;
  width: 12vw;
}

#simulation-module-layout {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 2% 2%;
  background-color: white;
  width: 66vw;
  height: 55vh;
  padding: 0 1em 1em 1em;
}

#new-ops-module-layout {
  display: flex;
  flex-direction: column;
  border-radius: 5% 5% 0 0;
  background-color: white;
  width: 25vw;
  height: 53vh;
  padding: 0 1em 1em 1em;
}

#scenario-module-layout {
  display: flex;
  flex-direction: column;
  border-radius: 5% 5% 0 0;
  background-color: white;
  width: 25vw;
  height: 55vh;
  padding: 0 1em 1em 1em;
}

.customSlider {
  /* max width of your slider */
  width: 300px;
  height: 10px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 4px;
 /* default color of your track */
  background: #ddd;
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: rgb(104, 117, 217);
}

.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: rgb(104, 117, 217);
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px rgb(104, 117, 217, 0.2);
}

.customSlider-mark {
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 8px;
  background-color: #aaaaaa;
}

#simulation-bar-chart {
  display: flex;
  height: 41vh;
}

#simulation-bar-chart-left {
  width: 42vw;
  height: 41vh;
}

#simulation-bar-chart-right {
  width: 24vw;
  height: 41vh;
}

#simulation-title {
  display: flex;
  flex-direction: row;
  gap: 30%;
}

.button {
  margin: 30px;
  height: 3vh;
  width: 7vw;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 2vmin;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

#first-column-mainframe {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#scoreboard-layout {
  display: flex;
  flex-direction: column;
  border-radius: 2% 2% 0 0;
  background-color: white;
  width: 66vw;
  height: 39vh;
  padding: 0 1em 1em 1em;
}

#second-column-mainframe {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#scoreboard-graph {
  height: 33vh;
}

#simulation-buttons-layout {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  justify-content: space-between;
}

#scenerio-slider-name {
  text-align: left;
}

#upload-module-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#upload-module-template-link {
  text-decoration-line: none;
  color: #0000EE;
}

#home-link {
  color: #121212;
}
